luvlang/n8n-service/workflows/n8n-luvlang-production-ready.json
{
  "meta": {
    "instanceId": "luvlang-marketing"
  },
  "name": "Luvlang Marketing - Production Ready",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "luvlang-marketing-trigger",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://luvlang.org"
        }
      },
      "id": "webhook-trigger",
      "name": "Production Marketing Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "luvlang-marketing-production"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 0
            },
            {
              "hour": 12,
              "minute": 0
            },
            {
              "hour": 17,
              "minute": 0
            },
            {
              "hour": 20,
              "minute": 0
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "4x Daily Auto Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 180]
    },
    {
      "parameters": {
        "jsCode": "const models = [\n  { name: 'Sarah Chen', title: 'VP Marketing', company: 'Tech Fortune 500' },\n  { name: 'Marcus Johnson', title: 'Investment Director', company: 'Private Equity' },\n  { name: 'Isabella Rodriguez', title: 'Startup Founder', company: 'HealthTech' },\n  { name: 'David Park', title: 'Strategy Consultant', company: 'McKinsey' }\n];\n\nconst seoTopics = [\n  {\n    keyword: 'executive dating app',\n    title: 'Executive Dating App for C-Suite Professionals - Luvlang',\n    description: 'Connect with verified executives, entrepreneurs, and high-achievers. Premium dating platform for successful professionals.'\n  },\n  {\n    keyword: 'professional singles network',\n    title: 'Elite Professional Singles Network - Find Your Executive Match',\n    description: 'Join thousands of accomplished professionals. Exclusive dating community for CEOs, VPs, and industry leaders.'\n  },\n  {\n    keyword: 'luxury dating service',\n    title: 'Luxury Dating Service for High-Net-Worth Individuals',\n    description: 'Premium matchmaking for affluent singles. Verified professionals and exclusive events.'\n  },\n  {\n    keyword: 'entrepreneur dating network',\n    title: 'Entrepreneur Dating Network - Connect with Fellow Innovators',\n    description: 'Dating platform for startup founders, business owners, and investors who understand your journey.'\n  }\n];\n\nconst selectedModel = models[Math.floor(Math.random() * models.length)];\nconst selectedSEO = seoTopics[Math.floor(Math.random() * seoTopics.length)];\nconst hour = new Date().getHours();\n\nconst output = {\n  campaign_id: `luvlang_${Date.now()}`,\n  timestamp: new Date().toISOString(),\n  execution_hour: hour,\n  \n  // SEO Data (rotating)\n  seo_title: selectedSEO.title,\n  seo_description: selectedSEO.description,\n  target_keyword: selectedSEO.keyword,\n  \n  // Model Data (rotating)\n  model_name: selectedModel.name,\n  model_title: selectedModel.title,\n  model_company: selectedModel.company,\n  \n  // Social Content\n  linkedin_content: `Meet ${selectedModel.name}, ${selectedModel.title} at ${selectedModel.company}. She found her perfect match on Luvlang - where ambitious professionals connect. Your success story starts here. #ExecutiveDating #ProfessionalSingles #Success`,\n  instagram_content: `✨ Executive lifestyle meets authentic connections ✨\\n\\nWhere successful professionals find their perfect match. Join Luvlang - the dating app designed for your ambitious life. #ExecutiveDating #LuxuryLifestyle #Success #Love`,\n  twitter_content: `Building a successful career is hard. Finding someone who understands that journey? Even harder. That's why we built @Luvlang - where ambitious professionals connect authentically. #ExecutiveDating #Leadership`,\n  \n  // Production Settings\n  environment: 'production',\n  webhook_source: 'https://luvlang.org',\n  status: 'generated'\n};\n\nconsole.log(`✅ Production content generated: ${output.campaign_id}`);\nconsole.log(`📊 SEO Focus: ${output.target_keyword}`);\nconsole.log(`👔 Featured Model: ${output.model_name}`);\nconsole.log(`⏰ Execution Hour: ${hour}:00`);\n\nreturn [{ json: output }];"
      },
      "id": "content-generator",
      "name": "Smart Content Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://luvlang.org/api/seo/update",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Source",
              "value": "n8n-automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"update_seo\",\n  \"campaign_id\": \"{{ $json.campaign_id }}\",\n  \"title\": \"{{ $json.seo_title }}\",\n  \"description\": \"{{ $json.seo_description }}\",\n  \"keyword\": \"{{ $json.target_keyword }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"environment\": \"production\"\n}",
        "options": {}
      },
      "id": "update-seo",
      "name": "Update SEO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://luvlang.org/api/social/linkedin",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Source",
              "value": "n8n-automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"post_linkedin\",\n  \"campaign_id\": \"{{ $json.campaign_id }}\",\n  \"platform\": \"linkedin\",\n  \"content\": \"{{ $json.linkedin_content }}\",\n  \"model\": \"{{ $json.model_name }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"environment\": \"production\"\n}",
        "options": {}
      },
      "id": "post-linkedin",
      "name": "Post LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://luvlang.org/api/social/instagram",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Source",
              "value": "n8n-automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"post_instagram\",\n  \"campaign_id\": \"{{ $json.campaign_id }}\",\n  \"platform\": \"instagram\",\n  \"content\": \"{{ $json.instagram_content }}\",\n  \"model\": \"{{ $json.model_name }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"environment\": \"production\"\n}",
        "options": {}
      },
      "id": "post-instagram",
      "name": "Post Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://luvlang.org/api/social/twitter",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Source",
              "value": "n8n-automation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"post_twitter\",\n  \"campaign_id\": \"{{ $json.campaign_id }}\",\n  \"platform\": \"twitter\",\n  \"content\": \"{{ $json.twitter_content }}\",\n  \"model\": \"{{ $json.model_name }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"environment\": \"production\"\n}",
        "options": {}
      },
      "id": "post-twitter",
      "name": "Post Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 360]
    },
    {
      "parameters": {
        "jsCode": "const campaignId = $json.json?.campaign_id || $json.campaign_id;\nconst timestamp = $json.json?.timestamp || $json.timestamp;\nconst action = $json.json?.action;\n\nconst analytics = {\n  campaign_id: campaignId,\n  timestamp: timestamp,\n  action_completed: action,\n  platform_posted: $json.json?.platform,\n  workflow_status: 'completed_successfully',\n  analytics_processed: true,\n  production_environment: true,\n  daily_executions: 4,\n  schedule: '8am, 12pm, 5pm, 8pm',\n  estimated_reach: 75000,\n  estimated_engagement: 3750,\n  estimated_conversions: 375,\n  webhook_url: 'https://luvlang.org/webhook/luvlang-marketing-trigger',\n  final_status: 'success'\n};\n\nconsole.log('📊 Production analytics processed:', analytics.campaign_id);\nconsole.log('🌐 Environment: Production');\nconsole.log('📈 Estimated reach:', analytics.estimated_reach);\n\nreturn [{ json: analytics }];"
      },
      "id": "process-analytics",
      "name": "Process Analytics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Luvlang production marketing campaign completed successfully\",\n  \"campaign_id\": \"{{ $json.campaign_id }}\",\n  \"timestamp\": \"{{ $json.timestamp }}\",\n  \"workflow_status\": \"{{ $json.workflow_status }}\",\n  \"final_status\": \"{{ $json.final_status }}\",\n  \"environment\": \"production\",\n  \"daily_schedule\": \"{{ $json.schedule }}\",\n  \"daily_executions\": {{ $json.daily_executions }},\n  \"estimated_reach\": {{ $json.estimated_reach }},\n  \"estimated_engagement\": {{ $json.estimated_engagement }},\n  \"estimated_conversions\": {{ $json.estimated_conversions }},\n  \"webhook_url\": \"{{ $json.webhook_url }}\",\n  \"confirmation\": \"Production workflow active - 4x daily auto-execution + manual trigger available\"\n}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Production Marketing Trigger": {
      "main": [
        [
          {
            "node": "Smart Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4x Daily Auto Trigger": {
      "main": [
        [
          {
            "node": "Smart Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Content Generator": {
      "main": [
        [
          {
            "node": "Update SEO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update SEO": {
      "main": [
        [
          {
            "node": "Process Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post LinkedIn": {
      "main": [
        [
          {
            "node": "Process Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Instagram": {
      "main": [
        [
          {
            "node": "Process Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Twitter": {
      "main": [
        [
          {
            "node": "Process Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Analytics": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "id": "luvlang-production",
      "name": "Luvlang Production"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-01-13T00:00:00.000Z",
  "versionId": "production-1"
}